header {
  background-color: grey;
  text-align: center;
}
img {
  width: 500px;
  height: auto;
}

body {
  font-family: fantasy;
}

nav {
  border: red 4px solid;
}

nav a {
  border: yellow 2px solid;
  text-decoration: none;
  color: black;
}

.subject {
  border: green 2px solid;
}

.images {
  border: red 2px solid;
  margin: 20px;
}

.subject h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}