header {
  min-width: 700px;
  background-color: grey;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

img:hover {
  opacity: 70%;
}

body {
  margin: 0px;
  font-family: fantasy;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}

nav a:hover {
  color: red;
}

.images {
  display: flex;
  padding: 5px;
}

.image {
  margin: 10px;
  text-align: center;
  min-width: 210px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.subject h2 {
  margin: 60px 0px 0px 0px;
  padding: 7px;
  background-image: radial-gradient(rgb(163, 155, 155), white 70%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 40px;
  min-width: 700px;
}