header {
  background-color: grey;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: fantasy;
  border: blue solid 2px;
}

nav {
  border: red 4px solid;
}

nav a {
  border: yellow 2px solid;
  text-decoration: none;
  color: black;
  
}

.images {
  display: flex;
  justify-content: center;
  border: green 2px solid;
  padding: 5px;
  margin: 2px;
}

.subject .images {
  border: 5px yellowgreen solid;
}

.image {
  border: red 2px solid;
  margin: 10px;
  text-align: center;
  min-width: 220px;
}

.subject h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: brown 2px solid;
  text-align: center;
}